@import 'flowbite';

@tailwind base;
@tailwind components;
@tailwind utilities;

#rufina-regular {
    font-family: "Rufina", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  #rufina-bold {
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
  }

  .bg-gold-main {
    background-color: #CC9A32;
  }
  .text-gold-main {
    color: #CC9A32;
  }

  .bg-gray-main {
    background-color: #161B21;
  }
  .text-gray-main {
    color: #161B21;
  }
  